<!DOCTYPE html><!--[if IE]>  <html class="ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>简历</title>
		<link rel="stylesheet" type="text/css" href="/pdf/1.pdf_files/style.css" />
		<link href='/css/index.css' rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/layui/src/css/layui.css">
		<script src="/js/jquery.min.js"></script>
		<script src="/layui/src/layui.js"></script>
	</head>
	<body>
	<div style="width: 100%">
	<ul class="layui-nav">
		<li class="layui-nav-item"><a href="/">主页</a></li>
		<li class="layui-nav-item"><a href="/blog">博客</a></li>
		<li class="layui-nav-item"><a href="/message">留言</a></li>
		<li class="layui-nav-item"><a href="/about">关于</a></li>
	</ul>
		<div>
		<article style="margin:1% 0 5% 15%;border-bottom: solid 1px aquamarine; border-left: solid 1px red ;float: left">

			<div class="stl_02" style="font-size: 1.2em">
			<div class="stl_03">
				<object data="/pdf/1.pdf_files/img_06.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.1667em;">
					<embed src="/pdf/1.pdf_files/img_06.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01 stl_07" style="top: 4.5971em; left:18.4124em;"><span class="stl_08 stl_09 stl_10"></span></div>
					<div class="stl_01 stl_11" style="top: 6.2628em; left:18.4124em;"><span class="stl_08 stl_09 stl_10"></span></div>
					<div class="stl_01 stl_12" style="top: 4.2349em; left:19.3578em;"><span class="stl_13 stl_14 stl_15">22岁 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 4.2349em; left:27.8663em;"><span class="stl_08 stl_09 stl_10" style="word-spacing:0.0625em;"> </span><span class="stl_13 stl_14 stl_10" style="word-spacing:0.0625em;">重庆市 &nbsp;</span></div>
					<div class="stl_01 stl_16" style="top: 3.3859em; left:6.2575em;"><span class="stl_17 stl_14 stl_10" style="font-weight:bold;">杨月 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 5.9005em; left:19.3578em;"><span class="stl_13 stl_14 stl_18">13996956243 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 5.9005em; left:27.8663em;"><span class="stl_08 stl_09 stl_19" style="word-spacing:0.033em;"> </span><span class="stl_13 stl_14 stl_19" style="word-spacing:0.033em;">312910815@qq.com &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 6.5758em; left:4.0291em;"><span class="stl_20 stl_14 stl_21">求职目标：PHP研发工程师 &nbsp;</span></div>
					<div class="stl_01 stl_22" style="top: 12.8574em; left:1.7557em;"><span class="stl_23 stl_14 stl_10" style="font-weight:bold;">教育背景 &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top: 13.2936em; left:9.1612em;"><span class="stl_25 stl_09 stl_10"></span></div>
					<div class="stl_01 stl_26" style="top: 16.5799em; left:9.1612em;"><span class="stl_25 stl_09 stl_10"></span></div>
					<div class="stl_01 stl_12" style="top: 14.8142em; left:1.8457em;"><span class="stl_13 stl_14 stl_27">2013.09-2017.07 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 14.8142em; left:11.1195em;"><span class="stl_13 stl_14 stl_10">重庆邮电大学 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 14.8142em; left:31.5127em;"><span class="stl_13 stl_14 stl_10" style="word-spacing:0.0166em;">计算机学院 信息安全专业（本科） &nbsp;</span></div>
					<div class="stl_01 stl_22" style="top: 16.1438em; left:1.7557em;"><span class="stl_23 stl_14 stl_10" style="font-weight:bold;">实习经历 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 18.1005em; left:1.8457em;"><span class="stl_13 stl_14 stl_28">2016.7.1-2016.9.1 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 18.1005em; left:11.1195em;"><span class="stl_13 stl_14 stl_10">重庆鸿巨网络有限公司 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 18.1005em; left:31.5127em;"><span class="stl_13 stl_14 stl_29">PHP开发实习生 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 19.361em; left:12.29em;"><span class="stl_30 stl_14 stl_31">该公司是一个电商公司，主营趣网商城。我在该公司的内部ERP部门，主要负责订单系统和经销存系统的部 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 20.4414em; left:11.1645em;"><span class="stl_30 stl_14 stl_33">分模块的开发，比如商品分类的基本功能和同步功能，和部分前端页面的开发。主要是在原来YII2框架部署下 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 21.5219em; left:11.1645em;"><span class="stl_30 stl_14 stl_34">的应用中，新增了部分功能的代码。同时接触到了docker容器新技术，python代码简单了解，nginx的配置， &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 22.6023em; left:11.1645em;"><span class="stl_30 stl_14 stl_35">了解到了gearmand的异步功能，也接触到php中Composer包管理器，在该公司采用ubuntu环境开发。 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 23.9528em; left:1.8457em;"><span class="stl_13 stl_14 stl_36">2016.11.15-2017.1.14 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 23.9528em; left:11.1195em;"><span class="stl_13 stl_14 stl_10">浙江核新同花顺网络信息股份有限公司 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 23.9528em; left:31.5127em;"><span class="stl_13 stl_14 stl_29">PHP开发实习生 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 25.2134em; left:12.7401em;"><span class="stl_30 stl_14 stl_37">在该公司实习时，主要是做数据爬取的功能。该公司有一套完善的PHP爬虫系统。平时的主要是工作就是 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 26.2938em; left:11.1645em;"><span class="stl_30 stl_14 stl_38">利用该爬虫系统进行数据抓取，爬虫系统不能人工部署时，就会会涉及到利用snoopy，curl去取抓取页面，利 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 27.3742em; left:11.1645em;"><span class="stl_30 stl_14 stl_39">用正则表达式匹配到页面的form表格，或者获取json转化为html中的表格，利用爬虫系统去解析表格，存 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 28.4547em; left:11.1645em;"><span class="stl_30 stl_14 stl_10">入数据库。除了爬虫以外还做了处理数据的网页工具，包括界面和功能，功能一般是对数据进行分批处理，</span></div>
					<div class="stl_01 stl_32" style="top: 29.4547em; left:11.1645em;"><span class="stl_30 stl_14 stl_10">按照给定的格式入库。</span></div>
					<div class="stl_01 stl_22" style="top: 30.8647em; left:1.7557em;"><span class="stl_23 stl_14 stl_10" style="font-weight:bold;">项目经验 &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top: 31.3008em; left:9.1612em;"><span class="stl_25 stl_09 stl_10"></span></div>
					<div class="stl_01 stl_12" style="top: 32.8214em; left:1.8457em;"><span class="stl_13 stl_14 stl_40">2016.5.1-2016.5.15 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 32.8214em; left:14.7209em;"><span class="stl_13 stl_14 stl_10">运动会管理系统 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 34.0819em; left:11.1645em;"><span class="stl_30 stl_14 stl_41">该项目后台采用thinkphp框架，前端采用bootstrap，mysql作为数据储存。其中包含了注册，登陆，发布公 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 35.1624em; left:11.1645em;"><span class="stl_30 stl_14 stl_42">告，成绩排行等功能github：https://github.com/yann/sport. &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 37.5934em; left:1.8457em;"><span class="stl_13 stl_14 stl_43">2017.2.5-2017.2.20 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 37.5934em; left:13.8206em;"><span class="stl_13 stl_14 stl_10">个人博客 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 38.8539em; left:11.1645em;"><span class="stl_30 stl_14 stl_10">该项目主要为了自己能够记录一些东西，所有才决定做一个网站。服务器采用阿里云学生服务器，环境为 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 39.9343em; left:11.1645em;"><span class="stl_30 stl_14 stl_44">nginx+ubuntu+php7.0+mysql5.5。其中自己写了微型的MVC分层代码，C层采用通过识别URL中的get请求 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 41.0147em; left:11.1645em;"><span class="stl_30 stl_14 stl_45">来控制路由，M层封装了PDO，方便调用。V层引用了现成的smarty模板引擎。利用nginx实现了URL伪静 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 42.0952em; left:11.1645em;"><span class="stl_30 stl_14 stl_46" style="word-spacing:0.0164em;">态，其中应用包含了展示，发布，修改文章，删除留言等的功能.github：https://github.com/yann/blog. 网 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 43.1756em; left:11.1645em;"><span class="stl_30 stl_14 stl_47" style="word-spacing:0.0497em;">址：www.yann.site (IP:121.42.56.179)。 &nbsp;</span></div>
					<div class="stl_01 stl_22" style="top: 44.5052em; left:1.7557em;"><span class="stl_23 stl_14 stl_10" style="font-weight:bold;">掌握技能 &nbsp;</span></div>
					<div class="stl_01 stl_48" style="top: 52.0233em; left:1.7557em;"><span class="stl_23 stl_14 stl_10" style="font-weight:bold;">自我评价 &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top: 46.4169em; left:9.1612em;"><sup><span class="stl_25 stl_09 stl_49"></span></sup><span class="stl_30 stl_14 stl_50">1 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 46.4169em; left:11.5697em;"><span class="stl_30 stl_14 stl_51">.通过英语4级，计算机2级 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 47.4973em; left:11.1195em;"><span class="stl_30 stl_14 stl_10">2</span></div>
					<div class="stl_01 stl_32" style="top: 48.5778em; left:11.1195em;"><span class="stl_30 stl_14 stl_10">3</span></div>
					<div class="stl_01 stl_32" style="top: 49.6582em; left:11.1195em;"><span class="stl_30 stl_14 stl_10">4</span></div>
					<div class="stl_01 stl_32" style="top: 50.7387em; left:11.1195em;"><span class="stl_30 stl_14 stl_10">5</span></div>
					<div class="stl_01 stl_12" style="top: 47.4973em; left:11.5247em;"><span class="stl_30 stl_14 stl_52">.了解linux的基本操作指令 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 48.5778em; left:11.5247em;"><span class="stl_30 stl_14 stl_53">.熟练应用PHP+mysql技术熟悉div+css样式布局设计 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 49.6582em; left:11.6147em;"><span class="stl_30 stl_14 stl_54">.熟练应用JavaScript，jQuery，ajax技术 &nbsp;</span></div>
					<div class="stl_01 stl_32" style="top: 50.7387em; left:11.5697em;"><span class="stl_30 stl_14 stl_55">.了解thinkphp，yii2等框架 &nbsp;</span></div>
					<div class="stl_01 stl_24" style="top: 53.935em; left:9.1612em;"><sup><span class="stl_25 stl_09 stl_49"></span></sup><span class="stl_30 stl_14 stl_50">ꢀ &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 53.935em; left:11.8398em;"><span class="stl_30 stl_14 stl_10">ꢀ我是一个积极乐观、善于交友、心理素质较好的人。拥有扎实的计算机基础知识和专业技能。做事认真踏 &nbsp;</span></div>
					<div class="stl_01 stl_12" style="top: 55.0154em; left:11.1195em;"><span class="stl_30 stl_14 stl_10">实、热情主动、能吃苦耐劳、具有很强的责任心。积极进取，渴望突破自己，得到认可 &nbsp;</span></div>
				</div>
			</div>
		</div>

		</article>
			<a onclick="pdfdownload()" class="layui-btn layui-btn-danger" style="float: right ;margin-top: 15%;margin-right: 10%">下载</a>
		</div>
	</div>
	<footer style="margin-bottom: 60px">
	</footer>
	</body>
</html>
<script>
        function pdfdownload() {
			$.post('/about/pdfdownload',{},function () {
                window.location.href='/about/pdfdownload';
            })
        }
</script>