<{include file='admin/header.html'}>
<link rel="stylesheet" href="/layui/src/css/layui.css">
<script src="/layui/src/layui.js"></script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
    <legend style="color: #1E9FFF">修改、删除分类</legend>
</fieldset>

<div style="width: 60%" id="category_manage_content">
<ur>
<{foreach $categorys as $k}>
<li style="margin: 10px"><span style="color:#1E9FFF "><{$k.id}>.</span><a style="width: 250px" class="layui-btn layui-btn-normal layui-btn-radius"><{$k.name}></a>
    <button  class="layui-btn layui-btn-normal layui-btn-small"><i class="layui-icon"></i></button>
    <a  href="/category/delete/<{$k.id}>" class="layui-btn layui-btn-normal layui-btn-small"><i class="layui-icon"></i></a>
</li><hr>
<{/foreach}>
</ur>
</div>
<script>
    layui.use('layer', function() {
        var layer = layui.layer;
        $('button').bind('click',function () {
            var id = $(event.target).parents('li').find('span').text();
            id = id.replace(".","");
            var href;
            layer.prompt({
                title: '修改分类，并确认',
                formType: 2
            }, function(text, index){
               href = "/category/edit/?id="+id+"&&name="+text;
                window.location.href=href;
            });
            layer.close(index);
            });
    });
</script>
<{include file='admin/footer.html'}>